# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

#.env
.env

#images inside src/assets
#/src/assets/images

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

dummy.json
testimonials.txt

# production
#/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Ignore GITHUB_SSH_KEY
GITHUB_SSH_KEY
```
# Ignore GITHUB_SSH_KEY.pub
GITHUB_SSH_KEY.pub
```


```
# Ignore the kubernetes.txt file
kubernetes.txt
```