@tailwind base;
@tailwind components;
@tailwind utilities;


/*
General font family to sans serif
*/


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
}
/*
Do it for all the breakpoints

*/

.filter-shadow-inset {
    box-shadow: inset 10px 10px 0px 0px rgb(4, 51, 52)
}
  
/*
Here add the box-shadow on the right and bottom side of the element
*/
.consultancy-shadow-inset {
    box-shadow: inset 0px 10px 0px 0px rgb(4, 51, 52)
}


/* TURKISH FLAG BACKGROUND */
.bg-real-estate {
    background-image: url('./assets/images/others/real-estate.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*Add opacity of 40 to the background image*/
    background-color: rgba(0, 0, 0, 0.4);
}


/* Setting the PhoneInpput to dark theme*/
/* Set the background color to dark gray */
.phone-input-dark {
    background-color: #2d2d2d;
}


/*Add background image for a given component*/
.bg-real-estate {
    background-image: url('./assets/images/background/realestatebg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*Add opacity of 40 to the background image*/
    background-color: rgba(0, 0, 0, 0.4);
}